#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

.header_text {
	background-color: skyblue;
	padding-top: 20px;
	padding-bottom: 20px;
	/*padding-left: 12px;*/
	margin-top: 0px;
	text-align: center;
}

.instructions_container {
	background-color: #6666CC;
	margin-top: -20px;
	/*color: #FFC0CB;*/
	padding: 5px 0px 5px 5px;
	box-shadow: 0px 3px 5px #888888;
}

/*.instructions_container p {
	color: white;
	font-weight: normal;
	font-family: Arial;
}*/

#canvas {
	background-color: #FFC0CB;
}

#canvas h1 {
	font-size: 30px;
	font-family: Lobster;
}

#canvas p {
	font-size: 20px;
	font-family: Lobster;
	text-align: center;
}

.clothing_container {
	float: left;
	width: 30%;
	height: 100%;
	margin-left: 8px;
	/*border: 2px solid black;
	box-shadow: 5px 1px 5px #888888;*/
	font-family: Lobster;
}

.clothing_container div {
	width: 48%;
	height: 693px;
	overflow: auto;
	border: 2px solid black;
}

.clothing_container img {
	display: block;
	width: 100%;
	height: 150px;
	margin-top: 10px;
	border-radius: 30px;
	box-shadow: 3px 1px 1px #888888;
}

.clothing_slider {
	float: left;
	/*border: 2px solid orange;*/
}

.feature_slider {
	float: right;
	/*border: 2px solid purple;*/
}

.doll_container {
	display: inline-block;
	width: 30%;
	height: 100%;
	/*border: 2px solid red;*/
	margin-left: 34px;
	font-family: Lobster;
}

.doll_container img {
	width: 100%;
	height: 414px;
	border-radius: 50px;
	box-shadow: 5px 1px 5px #888888;
}

.code_container {
	float: right;
	width: 30%;
	height: 100%;
	font-family: Lobster;
	/*border: 2px solid blue;*/
}